body{
column-count: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
column-gap: 24px;
-webkit-column-gap: 24px;
-moz-column-gap: 24px;
column-rule: 4px dotted #000000;
-webkit-column-rule: 4px dotted #000000;
-moz-column-rule: 4px dotted #000000;}